<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!-- <!doctype html>
<html lang="en">
  <head> -->
    <!-- Required meta tags -->
    <!-- <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Interior Floor Interior and Furniture Website Template | Home : W3layouts</title>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet"> -->

    <!-- Template CSS -->
    <!-- <link rel="stylesheet" href="/static/assets/css/style-starter.css">
  </head>
  <body> -->
<!--w3l-header-->

<!-- <header class="w3l-header-nav" style="background-color: rgb(1, 1, 1);"> -->
	<!--/nav-->
	<!-- <nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
		<div class="container">
			<a class="navbar-brand" href="index.html" style="background-color: rgb(0, 0, 0);">Design Your<span style="color: white;">Dream</span></a> -->
			<!-- if logo is image enable this   
						<a class="navbar-brand" href="#index.html">
							<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
						</a> -->
			<!-- <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fa icon-expand fa-bars"></span>
				<span class="fa icon-close fa-times"></span>
			</button> -->

			<!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link"  style="color: rgb(255, 255, 255);" href="adminhome">Home</a>
					</li>
					<li class="nav-item @@about__active">
						<a class="nav-link"  style="color: rgb(255, 255, 255);" href="viewdesigners">Designers</a>
					</li>
					<li class="nav-item @@services__active">
						<a class="nav-link" style="color: rgb(255, 255, 255);" href="viewusers">Users</a>
					</li>
					<li class="nav-item @@contact__active">
						<a class="nav-link"  style="color: rgb(255, 255, 255);" href="viewdesigns">Designs</a>
					</li>
					<li class="nav-item @@contact__active">
						<a class="nav-link"  style="color: rgb(255, 255, 255);" href="viewrequirements">User Bookings</a>
					</li>
					<li class="nav-item @@contact__active">
						<a class="nav-link" style="color: rgb(255, 255, 255);" href="viewcomplaint">Complaints</a>
					</li>
					<li class="nav-item @@contact__active">
						<a class="nav-link" style="color: rgb(255, 255, 255);" href="view_feedback">feedback</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" style="color: rgb(255, 255, 255);" href="/">Logout</a>
					</li>
					
                </ul> -->
                <!--/search-right-->
				
<!-- 				
			</div>
		</div> -->
	</nav>
	<!--//nav-->
</header>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Design Your Dream</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/static/assets/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/static/assets/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/static/assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/static/assets/css/style.css" rel="stylesheet">
</head>

<body>
   


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a href="adminhome" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary">Design Your Dream</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="adminhome" class="nav-item nav-link active">Home</a>
                <a href="viewdesigners" class="nav-item nav-link">Designers</a>
                <a href="viewusers" class="nav-item nav-link">Users</a>
				<a href="viewdesigns" class="nav-item nav-link">Designs</a>
                <a href="viewrequirements" class="nav-item nav-link">Sales</a>
                <a href="viewcomplaint" class="nav-item nav-link">Complaints</a>
				<a href="view_feedback" class="nav-item nav-link">Feedback</a>
                <!-- <a href="/" class="nav-item nav-link">Logout</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu fade-down m-0">
                        <a href="team.html" class="dropdown-item">Our Team</a>
                        <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                        <a href="404.html" class="dropdown-item">404 Page</a>
                    </div>
                </div>
                <a href="contact.html" class="nav-item nav-link">Contact</a>
            </div> -->
            <a href="/" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Logout<i class="fa fa-arrow-right ms-3"></i></a>
        </div>
    </nav>