{% include 'admin/admin_header.html' %}

<br><br>
<header id="header" style="background-image: url(/static/assets/images/pxfuel\ \(3\).jpg);height: auto;background-attachment: fixed;background-repeat: no-repeat;background-position: center;background-size: cover; margin-top: -50px;">

<form method="post">
	<center>

		<center>
			<br>
			<h1>SEARCH SALES</h1>
			<form method="post">
			  <table style="color: black;width: 100px">
		  
			
				 <td style="color: white"><input type="date" name="daily" > DAILY  </td>
				 
				  <td  style="color: white"> <input type="month" name="monthly"> MONTHLY </td>
				  
				  
			   <tr>
				 <td align="center" colspan="5"><input type="submit" name="sale" class="btn btn-success" value="SEARCH"></td>
				</tr>
			  
		  
				</tr>
			  </table>
			</form>
			
		  </center>
		<h2 style="color:  rgb(3, 206, 210); margin-top: 20px;">Sales Report</h2>
		<br><br>
        <p><a class="btn" style="color :white; background-color: darkgreen;"  href="/admin/viewsalesreport?did={{row['designer_id']}}">Print</a></p><br>

		<div class="table-responsive">
			<body onload="printDiv()">
				<div id="div_print" >  
	<table border="1" style="width: 700px" class="table table-dark">
			<tr>
				<th>User Name</th>
				<th>Design</th>
				<th>Proposed Amount</th>
				<th>Proposal Date</th>
				<th>Status</th>
				<th></th>
				<th></th>
				<th></th>	
			</tr>
			<tbody>
				{% for row in data['viewsales'] %}
				<tr>
					<td>{{row['uname']}}</td>
					<td><img src="/{{row['photo']}}" height="100" width="100"></td>
					<td>{{row['price']}}</td>
					<td>{{row['proposal_date']}}</td>
					<td>{{row['proposal_status']}}</td>
					<td></td>
                    <td></td>
                    <td></td>

					<!-- {% if row['proposal_status']=="pending" %}
					<td><a class="btn btn-primary" href="chat_room?rq_id={{row['requirement_id']}}&user_id={{row['user_id']}}">Chat</a></td>
					 {% elif  row['proposal_status']=="confirm delivery" %} 
					<td><a href="viewpayment?ids={{row['proposal_id']}}" class="btn btn-primary">Payment</a></td>
					<td><a class="btn btn-primary" href="chat_room?rq_id={{row['requirement_id']}}&user_id={{row['user_id']}}">Chat</a></td>
					{% elif row['proposal_status']=="Paid" %}
					<td><a href="viewpayment?ids={{row['proposal_id']}}" class="btn btn-primary">Payment</a></td>
					<td><a class="btn btn-primary" href="chat_room?rq_id={{row['requirement_id']}}&user_id={{row['user_id']}}">Chat</a></td>
					<td><a href="?action=update&ids={{row['proposal_id']}}" class="btn btn-primary">Confirm delivery</a></td>

					{% endif %} -->
					
				</tr>
				{% endfor %}
			</tbody>
			
		</table>
		</div>
		</body>
		</div>
	</center>
	<script> 
		function printDiv() { 
		  var divContentss = document.getElementById("div_print").innerHTML; 
		  var a = window.open('', '', 'height=500, width=500'); 
		  a.document.write(divContentss); 
		  a.document.close(); 
		  a.print(); 
	    } 
	    </script>
	
	  
</form>




{% include 'admin/admin_footer.html' %}