{% include 'designers/designer_header.html' %}
<br><br>
<form method="post">
	<center><h2 style="color: red">Chatting</h2>
		<br><br>
	<table border="1" align="center" style="width: 500px" class="table">
		<tr>
			<td colspan="2" bgcolor="powdergreen"><i><b><h5>{{data['uname']}}</h5></b></i></td>
		</tr>
		
		{% for row in data['chat'] %}
		<tr>
			{% if row['sender_id']==data['sendrec']%}
			<td bgcolor="powderblue"></td>
			<td bgcolor="powderpink">{{row['message']}}</td>
			
			{% else %}
			<td bgcolor="powderpink" style="color: blue;">{{row['message']}}</td>
			<td bgcolor="powderblue"></td>
			
			{% endif %}
		</tr>
		{% endfor %}

	</table>
	<table border="1" align="center" style="width: 500px" class="table">
		<tr>
			<th bgcolor="pink">Message</th>
			<td bgcolor="pink"><textarea rows="4" cols="50" name="msg" class="form-control" required=""></textarea></td>
		</tr>
		<tr>
			<td colspan="2" align="center" bgcolor="pink"><input type="submit" name="submit" value="SEND"></td>
		</tr>
	</table>
</center>
</form>
{% include 'designers/designer_footer.html' %}